{% extends 'base.html' %}
{% block content %}  
    <div class="container" style="text-align: center;max-height: 75vh; overflow-y: scroll;">
        <h2><strong>{{post.name}}</strong></h2>        
        <h5>{{post.description}}</h5>
        <div class="container">
            <h3 style="display: inline-block;">Technologies:</h3>
            {% for tech in post.techs.all %}
                {% if tech.name == "HTML5" %}
                <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid tomato; color: tomato; border-radius:10px;">{{tech}}</h5>                                
                {% elif tech.name == "JS" %}
                <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid orange; color: orange; border-radius:10px;">{{tech}}</h5>                
                {% elif tech.name == "Django" %}
                <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid green;  color: green; border-radius:10px;">{{tech}}</h5>                
                {% elif tech.name == "Python" %}
                <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid purple; color: purple; border-radius:10px;">{{tech}}</h5>
                {% else %}
                <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid grey; color: grey; border-radius:10px;">{{tech}}</h5>                
                {% endif %}
            {% endfor %}                        
        </div>
        <div class="container">
            <p style="display: inline-block;" onclick="myFunction('screenshots')">Screenshots</p>.
            <p style="display: inline-block;" onclick="myFunction('kura')">Kura</p>.
            <p style="display: inline-block;" onclick="myFunction('comment')">Comments</p>
        </div>
        <section id="screenshots">
            <div class="container">
                <img src="{{post.screenshot.url}}" style="max-width:100%; padding: 30px 0;">                            
            </div>            
        </section>
        <section id="kura">            
            <div class="container">
                <h2>Kura <span><a href="{% url 'kura' {{post.id}} %}">Add Kura</a></span></h2>
                <table style="width: 100%;">
                    <tr>
                        <th></th>
                        <th>Design Layout</th>
                        <th>Usability</th>
                        <th>Content</th>
                        <th>Avg. Kura</th>
                    </tr>                    
                    <tr>
                        <td>Username 2</td>
                        <td>Kura1</td>
                        <td>Kura2</td>
                        <td>Kura3</td>
                        <td>Avg Kura</td>
                    </tr>
                    <tr>
                        <td>Username 3</td>
                        <td>Kura1</td>
                        <td>Kura2</td>
                        <td>Kura3</td>
                        <td>Avg Kura</td>
                    </tr>
                </table>                                       
            </div>
        </section>
        <section id="comment">
            <div class="container">
                <h2>Comments</h2>
                <table style="width: 75%;">
                    <tr>
                        <td>User1 Comment </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>    
    
    <style>
        .toggler {
            position:absolute; 
            right:10px;
            height:50px;
            width:50px;
            border-radius: 50%;
            font-size:25px;
        }
    </style>    
    <script>
        function myFunction(id) {
            var elmnt = document.getElementById(id);
            elmnt.scrollIntoView();
        }
    </script>
{% endblock %}