{% extends 'base.html' %}
{% block content %}
    <button class="btn btn-primary toggler" style="margin-top: 20vh;" data-toggle="modal" data-target="#kura"> + </button>
    <button class="btn btn-outline-primary toggler" style="margin-top: 40vh;"> + </button>
    <div class="container" style="text-align: center;max-height: 75vh; overflow-y: scroll;">
        <h2><strong>{{post.name}}</strong></h2>        
        <h5>{{post.description}}</h5>
        <div class="container">
            <h3 style="display: inline-block;">Technologies:</h3>
            <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid tomato; color: tomato; border-radius:10px;">HTML5</h5>
            <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid orange; color: orange; border-radius:10px;">JS</h5>
            <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid green;  color: green; border-radius:10px;">Django</h5>
            <h5 style="display: inline-block; padding: 5px 20px;border: 0.01em solid purple; color: purple; border-radius:10px;">Python</h5>
        </div>
        <div class="container">
            <p style="display: inline-block;" onclick="myFunction('screenshots')">Screenshots</p>.
            <p style="display: inline-block;" onclick="myFunction('kura')">Kura</p>.
            <p style="display: inline-block;" onclick="myFunction('comment')">Comments</p>
        </div>
        <section id="screenshots">
            <div class="container">
                <img src="{{post.screenshot.url}}" style="max-width:100%; padding: 30px 0;">                            
            </div>            
        </section>
        <section id="kura">
            <div class="container">
                <h2>Kura</h2>
                <table style="width: 100%;">
                    <tr>
                        <th></th>
                        <th>Design Layout</th>
                        <th>Usability</th>
                        <th>Content</th>
                        <th>Avg. Kura</th>
                    </tr>                    
                    <tr>
                        <td>Username 2</td>
                        <td>Kura1</td>
                        <td>Kura2</td>
                        <td>Kura3</td>
                        <td>Avg Kura</td>
                    </tr>
                    <tr>
                        <td>Username 3</td>
                        <td>Kura1</td>
                        <td>Kura2</td>
                        <td>Kura3</td>
                        <td>Avg Kura</td>
                    </tr>
                </table>                                       
            </div>
        </section>
        <section id="comment">
            <div class="container">
                <h2>Comments</h2>
                <table style="width: 75%;">
                    <tr>
                        <td>User1 Comment </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
    <!-- Kura Modal-->
    <div class="modal fade" id="kura" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered"  role="document">
            <div class="modal-content"> 
                <div class="modal-body" style="height: 500px;">
                    <p>Noma</p>
                    <form action="#" method="post" enctype="multipart/form-data">                        
                        <p>Design</p>                                    
                        <input type="range">
                        <p>Usability</p>                                    
                        <input type="range">
                        <p>Content</p>                                    
                        <input type="range">
                        <input type="submit" class="btn btn-success btn-lg" value="Submit">
                    </form> 
                </div>    
            </div>
        </div>
    </div>
    
    <style>
        .toggler {
            position:absolute; 
            right:10px;
            height:50px;
            width:50px;
            border-radius: 50%;
            font-size:25px;
        }
    </style>    
    <script>
        function myFunction(id) {
            var elmnt = document.getElementById(id);
            elmnt.scrollIntoView();
        }
    </script>
{% endblock %}