{% extends 'base.html' %}    
{% block content %}
    <hr>
    <h2>Category 1</h2>
        <div class="container-fluid">
            <ul style="text-align: center;">
                {% for post in posts %}
                <li class= "cat">
                    <div class="card" style="border-radius: 10px;">
                        <a href="{% url 'details' post.id %}" ><img src="{{post.screenshot.url}}" style="width:300px; height:200px;"></a>
                        <div class="card-body">
                            <h4 style="text-align: left;">{{post.name}}</h4>
                            <p style="display: inline-block; background-color: steelblue;color: white; padding: 3px 5px; border-radius: 7px;">Tech</p>
                            <p style="display: inline-block; background-color: steelblue;color: white; padding: 3px 5px; border-radius: 7px;">Tech</p>
                            <p style="display: inline-block; background-color: steelblue;color: white; padding: 3px 5px; border-radius: 7px;">Tech</p>
                            <hr>
                            <h5>By <strong>Creator</strong></h5>
                        </div>
                    </div>
                </li>
                {% endfor %}
                
                
            </ul>
        </div>
    <hr>
    <h2>Category 2</h2>
    <hr>
    <h2>Category 3</h2>
    <hr>
    <h2> Category 4</h2>

    <style>
        body {
            width: 100%;
        }
        .cat {
            display: inline-block;
            padding-right: 14px;
            padding-top: 18px;
        }
    </style>
{% endblock %}