{% extends 'base.html' %}
{{blocksuper}}
{% block content %}
    {%include 'navbar.html' %}
        <div class="container" style="margin-top: 25px; background-color: rgb(57, 66, 57,.5); border-radius: 20px;">
            <div class="row" style="padding: 30px">            
                <div class="col">                 
                    <div class="container" style="background-color: white; border: solid gray 0.01em; border-radius: 10px; width:430px;">
                        <img src="{{profile.profile_pic.url}}" style="margin-top:55px;" alt="Profile picture" class="prof-pic">                
                        <h3 style="text-align: center; padding-top:20px;" >{{profile.username}}</h3>
                        <h5 style="text-align: center; padding-top:10px;">{{current_user}}</h5>
                        <h6 style="padding-top:25px; margin-left: 20px;">Bio:</h6>
                        <p style="margin-left: 60px;">{{profile.bio}}</p>                    
                    </div>
                    
                </div>
                <div class="col" >
                    <div class="container" style="background-color: white; height:550px; border: solid gray 0.01em; border-radius: 10px;">                
                            <p class="post-brief" style="background-color: gray;margin-left: 35%;">Projects Post</p>                            
                            <p class="post-brief" style="background-color: white;">{{posts.count}}</p>                        
                        <hr>
                        <div class="container" style="max-height: 400px; overflow-y: scroll;">
                            {% for post in posts %}
                                <hr>
                                {{ post.name }}
                            {% endfor %}
                        </div>
                    </div>                                
                </div>            
            </div>
        </div>
    <style>
        .prof-pic {
            width: 300px; 
            height: 300px;    
            margin-left: 35px;                     
        }
        .post-brief {
            text-align: center; 
            margin-top: 30px;            
            background-color: gray; 
            width: fit-content; 
            padding:5px; 
            border: solid blue 0.01em;
            display: inline-block;
        }
    </style>
{% endblock %}