{% extends 'base.html' %}
{{blocksuper}}
{% load bootstrap3 %}
{% block content %}    
    <div class="row" style="margin-top: 5vh; padding:0 50px;">
        <div class="col-md-8">
            <img src="{{ post.screenshot.url}}" style="width: 100%;">
        </div>
        <div class="col-md-4" style="text-align: center;">

            <form action="{% url 'kura' post.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_form kuraform %}
                <input type="submit" class="btn btn-success btn-lg" value="Post">
            </form>
            <form action=""> comment</form>
        </div>
    </div>    
{% endblock %}