{% extends 'base.html' %}
{{blocksuper}}
{% block content %}
    {%include 'navbar.html' %}
    <div class="container-fluid">
        <ul style="text-align: center;">
            {% for post in posts %}
            <li class= "cat">
                <div class="card" style="border-radius: 10px;">
                    <a href="{% url 'details' post.id %}" ><img src="{{post.screenshot.url}}" style="width:460px; height:300px;"></a>
                    <div class="card-body">
                        <p style="text-align: left;">{{post.name}}</p>
                        <p style="display: inline-block; background-color: steelblue;color: white; padding: 3px 5px; border-radius: 7px;">Tech</p>
                        <p style="display: inline-block; background-color: steelblue;color: white; padding: 3px 5px; border-radius: 7px;">Tech</p>
                        <p style="display: inline-block; background-color: steelblue;color: white; padding: 3px 5px; border-radius: 7px;">Tech</p>
                        <hr>
                        <p>By <strong>Creator</strong></p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <style>
        .cat {
            display: inline-block;
            padding-right: 14px;
            padding-top: 18px;
        }
    </style>
{% endblock %}